@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  background: $color-dark;
  font-family: $font-text;
  font-size: ($base-size * 1.1);
  color: $font-color;
  letter-spacing: 0.5px;

  label {
    display: block;
    margin: 10px 0;
  }

  input, select{
    &:hover {
      cursor: pointer;
    }
  }

  button {
    margin: $base-margin;
  }
}



@import "./typography.scss";